body,html,h1,button,div,p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  font-weight: 200;
  font-size: 12em;
  background: rgb(91,75,235);
  background: linear-gradient(245deg, rgba(91,75,235,1) 0%, rgba(46,227,235,1) 75%);    
}
.contador{
  margin-bottom: 1.875rem ;
  font-weight: 600;
  font-family: "JetBrains Mono",sans-serif;
}
h1{
  font-size: 10rem;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 80.5rem;
  align-items: center;
  justify-content: space-around;
}
.btn {
  width: 12rem;
  align-items: center;
  margin: 5px;
  background-color: #FCFCFD;
  border-radius: 5px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #161616;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 35px;
  justify-content: center;
  border: 1px solid black;
  transition: box-shadow .15s,transform .15s;
  font-size: 10px;
}
.btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
@media (min-width: 325px) {
  .buttons {
    flex-flow: column;
  }
}
@media (min-width: 768px) {
  .buttons{
    flex-flow: row;
    width: 768px;
  }
}